  AddHandler php-script .php .html
  AddType application/x-httpd-php .php .html
  
php_value upload_max_filesize 1G
php_value post_max_size 1G
php_value memory_limit 2048M
php_value max_execution_time 300
