@charset "utf-8";
#chusho-jigyonushi {
  /* 20210225 ボタンを二つ並べる */
}
#chusho-jigyonushi h1 {
  display: block;
}
#chusho-jigyonushi h2 {
  display: block;
  background: none;
  padding: 0;
}
#chusho-jigyonushi table tr:nth-child(odd) {
  background: none;
}
#chusho-jigyonushi .inner img {
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  #chusho-jigyonushi table tr th {
    background: none;
    display: table-cell;
  }
  #chusho-jigyonushi table tr td {
    background: none;
    display: table-cell;
  }
}
#chusho-jigyonushi .sp {
  display: none;
}
#chusho-jigyonushi * {
  box-sizing: border-box;
}
#chusho-jigyonushi body {
  color: #5F6C7B;
  font-size: 18px;
}
#chusho-jigyonushi .btn {
  margin-top: 50px;
}
#chusho-jigyonushi .flex_btn {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}
#chusho-jigyonushi .flex_btn a {
  max-width: 380px;
}
#chusho-jigyonushi span.nobr {
  display: inline-block;
}
#chusho-jigyonushi .inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}
#chusho-jigyonushi table th,
#chusho-jigyonushi table td {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}
#chusho-jigyonushi section {
  padding: 1px;
}
#chusho-jigyonushi .p_center {
  text-align: center;
}
#chusho-jigyonushi header {
  background-color: #D8EEFE;
}
#chusho-jigyonushi header h1 {
  margin: 0;
  padding: 0;
}
#chusho-jigyonushi header div#header_top {
  background-color: #fff;
}
#chusho-jigyonushi header .header__flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 8px 0;
}
#chusho-jigyonushi header .header__flex a#a_dantai {
  display: inline-block;
  margin-right: 2em;
  line-height: 1em;
  color: #222;
  font-size: 14px;
  vertical-align: bottom;
}
#chusho-jigyonushi header .header__flex #header_tel img {
  max-width: 236px;
}
#chusho-jigyonushi h2 {
  color: #094067;
  text-align: center;
  margin: 50px auto;
  font-size: 1.5em;
}
#chusho-jigyonushi p {
  line-height: 1.5em;
}
#chusho-jigyonushi .color_rev {
  color: #fff;
}
#chusho-jigyonushi #profile_div {
  padding: 25px 0;
  text-align: center;
  display: flex;
  width: 640px;
  max-width: 100%;
}
#chusho-jigyonushi #profile_div #tarou06 {
  width: 192px;
}
#chusho-jigyonushi #profile_div #profile_board {
  position: relative;
}
#chusho-jigyonushi #profile_div #profile_board img#profile {
  width: 452px;
}
#chusho-jigyonushi #profile_div #profile_board #profile_txt {
  color: #094067;
  width: 452px;
  max-width: 100%;
  position: absolute;
  top: 5%;
  left: 0%;
}
#chusho-jigyonushi #profile_div #profile_board #profile_txt #profile_title span {
  font-size: 1.4em;
}
#chusho-jigyonushi #profile_div #profile_board #profile_txt table {
  margin: 0 auto;
}
#chusho-jigyonushi .fukidashi {
  position: relative;
  height: 76px;
  background-color: #90B4CE;
}
#chusho-jigyonushi .fukidashi:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #90B4CE transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
#chusho-jigyonushi #dame_div {
  padding: 0 220px;
}
#chusho-jigyonushi #dame_div_illust {
  text-align: center;
  margin: 100px auto;
}
#chusho-jigyonushi #daijoubu_sec {
  background-color: #90B4CE;
}
#chusho-jigyonushi #daijoubu_sec #daijoubu_div {
  padding: 40px 0px;
}
#chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point {
  display: flex;
  margin: 0 50px;
}
#chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point div {
  width: 292px;
  height: 280px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  margin: 16px;
}
#chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point div p {
  line-height: 1.5em;
  margin-top: 30px;
}
#chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point div img {
  height: 160px;
}
#chusho-jigyonushi #daijoubu2_sec {
  padding: 50px 0;
}
#chusho-jigyonushi #daijoubu2_sec #daijoubu2_div {
  text-align: center;
}
#chusho-jigyonushi #daijoubu2_sec #daijoubu2_div p {
  color: #094067;
  line-height: 28px;
}
#chusho-jigyonushi #chigai_sec {
  background-color: #D8EEFE;
}
#chusho-jigyonushi #chigai_sec #chigai_div {
  padding: 50px 220px;
}
#chusho-jigyonushi #chigai_sec #chigai_div h2 {
  margin: 0 0 20px 0;
}
#chusho-jigyonushi #chigai_sec #chigai_div p {
  line-height: 1.5em;
}
#chusho-jigyonushi #chigai_sec #chigai2_div {
  display: flex;
  width: 900px;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata {
  width: 454px;
  margin: 0 16px;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_top,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_top,
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_top,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_top {
  height: 24px;
  border-radius: 20px 20px 0 0;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_top,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_top {
  background-color: #EF4565;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_top,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_top {
  background-color: #3DA9FC;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_body,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_body,
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_body,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_body {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 60px 0;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_body .chigai2_innerdiv p,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_body .chigai2_innerdiv p,
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_body .chigai2_innerdiv p,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_body .chigai2_innerdiv p {
  line-height: 23px;
}
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_body .chigai2_innerdiv img.chigai_img,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_body .chigai2_innerdiv img.chigai_img,
#chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_body .chigai2_innerdiv img.chigai_img,
#chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_body .chigai2_innerdiv img.chigai_img {
  width: 224px;
}
#chusho-jigyonushi #anatawa_sec {
  padding: 0px;
  background-color: #90B4CE;
}
#chusho-jigyonushi #anatawa_sec #anatawa_div {
  padding: 0 160px 70px;
  overflow: hidden;
}
#chusho-jigyonushi #anatawa_sec #anatawa_div div p {
  float: left;
  width: 640px;
  line-height: 1.5em;
}
#chusho-jigyonushi #anatawa_sec #anatawa_div div img {
  float: right;
  width: 120px;
}
#chusho-jigyonushi #kirikae_sec {
  background-image: url("../img/bg_dot01.png");
  background-repeat: repeat;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div {
  background-color: #fff;
  margin: -1px auto;
  padding: 50px 0 80px;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kirikae_line {
  margin: 70px auto;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div {
  display: flex;
  margin: 0 110px;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_img {
  width: 192px;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_txt {
  width: 640px;
  margin-left: 30px;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_txt h2 {
  margin-top: 0px;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_txt p {
  line-height: 1.5em;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div {
  display: flex;
  width: 970px;
  margin: 0 auto;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div div {
  margin: 15px;
  width: 292px;
  position: relative;
}
#chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div div p {
  position: absolute;
  top: 165px;
  left: 0px;
  margin: 20px;
  line-height: 1.5em;
}
#chusho-jigyonushi #mitsumori_sec {
  background-color: #D8EEFE;
}
#chusho-jigyonushi #mitsumori_sec #mitsumori_div {
  text-align: center;
  padding: 30px 0 50px;
}
#chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div {
  padding: 50px 0 0;
}
#chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div p {
  margin: 0 220px;
  line-height: 1.5em;
}
#chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div {
  width: 940px;
  margin: 50px auto;
  position: relative;
}
#chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div #square_txt {
  position: absolute;
  top: 60px;
  left: 140px;
  font-size: 1.3em;
  width: 695px;
  margin: 0;
  line-height: 1.5em;
}
#chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div #square_btn {
  position: absolute;
  top: 185px;
  margin: 0;
  left: 65px;
  width: 800px;
}
#chusho-jigyonushi #more_sec {
  background-color: #90B4CE;
  padding: 40px;
}
#chusho-jigyonushi #more_sec a#more_btn {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #094067;
  width: 720px;
  text-align: center;
  line-height: 2em;
  border-radius: 28px;
  margin: 20px auto 60px;
}
@media screen and (max-width: 768px) {
  #chusho-jigyonushi {
    /* 20210225 ボタンを二つ並べる */
  }
  #chusho-jigyonushi .pc {
    display: none;
  }
  #chusho-jigyonushi .sp {
    display: block;
  }
  #chusho-jigyonushi body {
    color: #5F6C7B;
    font-size: 16px;
  }
  #chusho-jigyonushi h2 {
    font-size: 1.25em;
    margin: 30px auto;
  }
  #chusho-jigyonushi h2 img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #chusho-jigyonushi header .header__flex {
    padding: 8px;
  }
  #chusho-jigyonushi header .header__flex .h_logo {
    max-width: 80%;
  }
  #chusho-jigyonushi .btn {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #chusho-jigyonushi .flex_btn {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }
  #chusho-jigyonushi .flex_btn a {
    display: block;
    margin-bottom: 10px;
  }
  #chusho-jigyonushi #profile_div {
    display: block;
    max-width: 400px;
  }
  #chusho-jigyonushi #profile_div #tarou06 {
    width: 128px;
  }
  #chusho-jigyonushi #profile_div #profile_board {
    position: relative;
  }
  #chusho-jigyonushi #profile_div #profile_board img#profile {
    width: 100%;
  }
  #chusho-jigyonushi #profile_div #profile_board #profile_txt {
    width: 90%;
    left: 4%;
  }
  #chusho-jigyonushi .fukidashi {
    height: 42px;
  }
  #chusho-jigyonushi #dame_div {
    padding: 1em;
  }
  #chusho-jigyonushi #dame_div h2 {
    margin-top: 40px;
  }
  #chusho-jigyonushi #dame_div_illust {
    padding: 0 1em;
    margin: 25px auto;
  }
  #chusho-jigyonushi #dame_div_illust #illust_compare {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 400px;
  }
  #chusho-jigyonushi #daijoubu_sec #daijoubu_div {
    padding: 30px 0px;
  }
  #chusho-jigyonushi #daijoubu_sec #daijoubu_div h2 {
    margin: 0 auto 25px;
  }
  #chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point {
    display: block;
    margin: 0;
  }
  #chusho-jigyonushi #daijoubu_sec #daijoubu_div #daijoubu_point div {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 16px auto;
    padding: 10px 1px;
  }
  #chusho-jigyonushi #daijoubu2_sec #daijoubu2_div {
    padding: 0 1em;
  }
  #chusho-jigyonushi #daijoubu2_sec #daijoubu2_div h2 {
    margin: 0;
  }
  #chusho-jigyonushi #daijoubu2_sec #daijoubu2_div h2 img.sp {
    margin: 0 auto 50px;
  }
  #chusho-jigyonushi #chigai_sec #chigai_div {
    padding: 30px 1em 0;
  }
  #chusho-jigyonushi #chigai_sec #chigai2_div {
    display: block;
  }
  #chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi,
  #chusho-jigyonushi #chigai_sec #chigai2_div #oyakata {
    width: 90%;
    max-width: 400px;
    margin: 2em auto;
  }
  #chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #jigyounushi_body,
  #chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #jigyounushi_body,
  #chusho-jigyonushi #chigai_sec #chigai2_div #jigyounushi #oyakata_body,
  #chusho-jigyonushi #chigai_sec #chigai2_div #oyakata #oyakata_body {
    padding: 20px 0;
  }
  #chusho-jigyonushi #anatawa_sec #anatawa_div {
    padding: 45px 1em;
  }
  #chusho-jigyonushi #anatawa_sec #anatawa_div h2 {
    margin: 0px auto 20px;
  }
  #chusho-jigyonushi #anatawa_sec #anatawa_div div p {
    float: none;
    width: 100%;
  }
  #chusho-jigyonushi #anatawa_sec #anatawa_div div img {
    float: none;
    margin: 1em auto;
    display: block;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div {
    padding: 1em;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #kirikae_line {
    margin: 30px auto 50px;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div {
    display: block;
    margin: 0 1em;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_txt {
    width: 100%;
    margin: 0;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #kinyu_div #kinyu_img {
    margin: 2em auto;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div {
    display: block;
    width: 100%;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div div {
    margin: 1em auto;
    width: 80%;
    max-width: 400px;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div div img {
    width: 100%;
  }
  #chusho-jigyonushi #kirikae_sec #kirikae_div #merit_div div p {
    margin: 5%;
    width: 90%;
    top: 50%;
  }
  #chusho-jigyonushi #mitsumori_sec #mitsumori_div {
    padding: 30px 1em 50px;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div {
    padding: 30px 1em 20px;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div p {
    margin: 0 1em;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div {
    width: 100%;
    /*    height: 250px;*/
    max-width: 500px;
    margin: 20px auto;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div img.sp {
    width: 100%;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div #square_txt {
    top: 15%;
    left: 15%;
    font-size: 1em;
    width: 70%;
    line-height: 1.2em;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div #square_btn {
    top: 45%;
    left: 5%;
    width: 90%;
  }
  #chusho-jigyonushi #more_sec {
    background-color: #90B4CE;
  }
  #chusho-jigyonushi #more_sec #more_div #more_btn {
    font-size: 1em;
    width: 90%;
    line-height: 3em;
  }
}
@media screen and (max-width: 400px) {
  #chusho-jigyonushi #profile_div {
    max-width: 90%;
  }
  #chusho-jigyonushi #profile_div #profile_board #profile_txt {
    top: 0%;
  }
  #chusho-jigyonushi #profile_div #profile_board #profile_txt #profile_title span {
    font-size: 1em;
  }
  #chusho-jigyonushi #profile_div #profile_board #profile_txt table {
    font-size: 0.8em;
  }
  #chusho-jigyonushi #kanyukirikae_sec #kanyukirikae_div #square_div #square_txt {
    /*font-size: 0.8em;*/
    left: 13%;
    width: 80%;
  }
  #chusho-jigyonushi #more_sec #more_div #more_btn {
    font-size: 0.8em;
  }
}
