/*==================================================
スライダーのためのcss
===================================*/
.slider_point,
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
   width:100%;
/*   width:94%;*/
    margin:0 auto;
}

.slider_point img,
.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider_point .slick-slide,
.slider .slick-slide {
/*    margin:0 10px;*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
    display: none!important;
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
    display: none!important;
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
/*	margin:20px 0 0 0;*/
 margin: 5px 0 0 0;
 height: 15px;
}

.slick-dots li {
    display:inline-block;
/*	margin:0 10px;*/
 margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:5px;/*ドットボタンのサイズ*/
    height:5px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
    padding: 0;
    border: none;
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 1100px;
/*  height     : 480px;*/
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
.slide2 {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 100%;
/* height: calc(100vw*(550/750));*/
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
.slide_point{
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 100%;
/* height: calc(100vw*(550/750));*/
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
.slider_point li.slick-slide{
 margin: 0 10px;
}
 
